.availability-submit-wrap {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.availability-submit-container {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-header {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  display: flex;
  padding: 15px 120px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(0, 37, 63, 1);
}
.availability-submit-logo {
  width: 88px;
  height: 48px;
}
.availability-submit-content {
  top: 75px;
  left: 0px;
  width: 100%;
  /* height: auto; */
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-elementor-section1 {
  gap: 10px;
  display: flex;
  padding: 45px 120px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-group2 {
  width: 542px;
  height: 79px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.availability-submit-text102 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Black;
  text-align: left;
  font-family: Arial;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-input {
  gap: 10px;
  top: 44px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.availability-submit-bl-type1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.availability-submit-bl-type2 {
  gap: 10px;
  width: 150px;
  height: 35px;
  display: flex;
  padding: 0 5px 0 15px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text104 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-chevron {
  width: 19px;
  height: 20px;
}
.availability-submit-bl-no {
  width: 270px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text106 {
  left: 14px;
  color: rgba(0, 0, 0, 1);
  width: 239px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-button {
  width: 102px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  background-color: rgba(0, 37, 63, 1);
}
.availability-submit-text108 {
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-Notice {
  gap: 5px;
  width: 419px;
  height: 147px;
  display: flex;
  padding: 10px 12px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 37, 63, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.availability-submit-text110 {
  color: rgba(229, 18, 18, 1);
  width: 53px;
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-text112 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-elementor-section2 {
  gap: 10px;
  display: flex;
  padding: 15px 120px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.availability-submit-text118 {
  color: rgba(0, 0, 0, 1);
  width: 190px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-table1,
.availability-submit-table2 {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
tbody {
  width: 100%;
}
.availability-submit-row {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-grow: 1;
}
.availability-submit-label {
  gap: 10px;
  width: 150px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  flex-grow: 1;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-elementor-section3 {
  gap: 10px;
  display: flex;
  padding: 15px 120px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.availability-submit-label2 {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  flex-grow: 1;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data2 {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  flex-grow: 1;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-footer {
  gap: 10px;
  top: 974px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 6px 373px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.availability-submit-text100 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}