.availability-submit-wrap {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.availability-submit-container {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-header {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  display: flex;
  padding: 15px 120px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(0, 37, 63, 1);
}
.availability-submit-logo {
  width: 88px;
  height: 48px;
}
.availability-submit-content {
  top: 75px;
  left: 0px;
  width: 100%;
  /* height: auto; */
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-elementor-section1 {
  gap: 10px;
  display: flex;
  padding: 45px 120px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-group2 {
  width: 542px;
  height: 79px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.availability-submit-text102 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Black;
  text-align: left;
  font-family: Arial;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-input {
  gap: 10px;
  top: 44px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.availability-submit-bl-type1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.availability-submit-bl-type2 {
  gap: 10px;
  width: 150px;
  height: 35px;
  display: flex;
  padding: 0 5px 0 15px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text104 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-chevron {
  width: 19px;
  height: 20px;
}
.availability-submit-bl-no {
  width: 270px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text106 {
  left: 14px;
  color: rgba(0, 0, 0, 1);
  width: 239px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-button {
  width: 102px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  background-color: rgba(0, 37, 63, 1);
}
.availability-submit-text108 {
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-frame1 {
  gap: 5px;
  width: 419px;
  height: 147px;
  display: flex;
  padding: 10px 12px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 37, 63, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.availability-submit-text110 {
  color: rgba(229, 18, 18, 1);
  width: 53px;
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-text112 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-elementor-section2 {
  gap: 10px;
  display: flex;
  padding: 15px 120px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.availability-submit-text118 {
  color: rgba(0, 0, 0, 1);
  width: 190px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-table1 {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
tbody {
  width: 100%;
}
.availability-submit-row {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-grow: 1;
}
.availability-submit-label {
  gap: 10px;
  width: 150px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  flex-grow: 1;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-elementor-section4 {
  gap: 10px;
  display: flex;
  padding: 15px 120px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.availability-submit-text182 {
  color: rgba(0, 0, 0, 1);
  width: 190px;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-table12 {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-row12 {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.availability-submit-hbl-no1 {
  width: 130px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-hbl-no2 {
  gap: 10px;
  width: 130px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text184 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data25 {
  gap: 10px;
  width: 130px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text186 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pcs1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-pcs2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text188 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data26 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text190 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pkg1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-pkg2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text192 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data27 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text194 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-lbs1 {
  width: 90px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-lbs2 {
  gap: 10px;
  width: 90px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text196 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data28 {
  gap: 10px;
  width: 90px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text198 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-cbm1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-cbm2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text200 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data29 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text202 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-commodity1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-commodity2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text204 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data30 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text206 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-itd1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-itd2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text208 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data31 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text210 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-obl1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-obl2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text211 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data32 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text213 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-customs1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-customs2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text214 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data33 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text216 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-avail1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-avail2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text217 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data34 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text219 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pick-up1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-pick-up2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text220 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data35 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text222 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-marks-hold1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-marks-hold2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text224 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data36 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text226 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-ancharge1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-ancharge2 {
  gap: 10px;
  width: 100px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text227 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data37 {
  gap: 10px;
  width: 100px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text229 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-obl-agent1 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.availability-submit-obl-agent2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(230, 233, 236, 1);
}
.availability-submit-text231 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-data38 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text233 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-row22 {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.availability-submit-hbl-no-data1 {
  gap: 10px;
  width: 130px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text235 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pcs-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text237 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pkg-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text239 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-lbs-data1 {
  gap: 10px;
  width: 90px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text241 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-cbm-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text243 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-commodity-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text245 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-itd-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text247 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-obl-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text248 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-customs-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text249 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-avail-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text250 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pick-up-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text251 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-marks-hold-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text253 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-ancharge-data1 {
  gap: 10px;
  width: 100px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text254 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-obl-agent-data1 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text256 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-row32 {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.availability-submit-hbl-no-data2 {
  gap: 10px;
  width: 130px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text258 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pcs-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text260 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pkg-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text262 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-lbs-data2 {
  gap: 10px;
  width: 90px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text264 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-cbm-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text266 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-commodity-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text268 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-itd-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text270 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-obl-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text271 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-customs-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text272 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-avail-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text273 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pick-up-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text274 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-marks-hold-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text276 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-ancharge-data2 {
  gap: 10px;
  width: 100px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text277 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-obl-agent-data2 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text279 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-row33 {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.availability-submit-hbl-no-data3 {
  gap: 10px;
  width: 130px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text281 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pcs-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text283 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pkg-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text285 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-lbs-data3 {
  gap: 10px;
  width: 90px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text287 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-cbm-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text289 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-commodity-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text291 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-itd-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text293 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-obl-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text294 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-customs-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text295 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-avail-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text296 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-pick-up-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text297 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-marks-hold-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text299 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-ancharge-data3 {
  gap: 10px;
  width: 100px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text300 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-obl-agent-data3 {
  gap: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 13px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(170, 170, 170, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.availability-submit-text302 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.availability-submit-footer {
  gap: 10px;
  top: 974px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 6px 373px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.availability-submit-text100 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}