body{
    background-image: url('https://i.namu.wiki/i/yxcxa6B4woWinBX2xDdouunYDQunZGYsKhS0d5wQ--7VjHDgtrdphedBdtb8pLjpocwjenlmtp2e1qNzsRuLZ5pdfk26YuXLkxkcvTshElIBNwJiWs_4K6u348EiMBdQCFl734SQ6xfG9eMf-7uriA.webp');
}
#container{
    width: 600px;
    border:none;
    margin: 20px auto; /*상하-20px, 좌우-자동으로 결정-가운데 위치*/
}
table, th, td{
    border: 1px solid #aaa;
    border-collapse: collapse;
}
th, td{
    padding: 10px 20px;
}
#description{
    border: 1px;
    border-style: dotted solid dotted solid;
    border-radius: 15px 15px 0px 0px;
    margin: 20px;
    padding: 10px 20px;
    background-color: #fff;
}
#receipe{
    border: 1px;
    border-style: dotted;
    margin: 20px;
    padding: 10px 20px;
    background-color: #fff;
}
#package{
    border: 1px;
    border-style: dotted dotted solid dotted;
    border-radius:  0px 0px 15px 15px;
    margin: 20px;
    padding: 10px 20px 20px 20px;
    background-color: #fff;
}